.warap-box{
    padding:0 10px;
}
#projectListBox{
    max-height:360px;
    overflow-y: auto;
    position: relative;
}
#projectList li .del-button{
    position:absolute;
    color:#ffffff;
    right:0;
    top:-1px;
    bottom:0;
    background:#666666;
    padding:.75rem 1rem .75rem 1rem;
    cursor: pointer;
    display: none;
}
#projectList li:hover .del-button{
    display: block;
}

#gulpTaskBox{
    max-height:360px;
    position: relative;
    word-break: break-all;
    overflow-y: auto;
}

#gulpInfoBox{
    top:1px;
    height:400px;
    position: relative;
    margin-left:3px;
}

#gulpInfo{
    position: absolute;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
    overflow-y:auto;
    line-height: 1.4em;
}

#npmInstallBtn{
    float:right;
}