#projectListBox{
    height:500px;
    position: relative;
}

#gulpTaskBox{
    height:500px;
    position: relative;
}

#gulpInfoBox{
    height:500px;
    position: relative;
}

#gulpInfo{
    position: absolute;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
}